/*------------------------------------------------
Main Selections
------------------------------------------------*/
body{
	margin: 0;
	background-color: #333333;
}
h1, h2, p {
	margin: 0;
}
body p{
	font-family: 'Roboto', sans-serif;
}
h1, h2{
	font-family: 'Cormorant Garamond', serif;
	color: #FDA008;
	font-weight: 300;
}
h1{
	font-size: 14vw;
}
h2{
	font-size: 6.5vw;
}
header {
	margin-left: 15%;
	padding: 8% 0% 15% 0%;
}
footer{
	height: 100px;
	background-color: #666666;
}
footer p{
	padding: 20px 0;
	text-align: center;
	color: white;
	font-weight: 300;
	font-size: 0.8rem;
}
/*------------------------------------------------
Class+ID Selections - Bootstrap override
------------------------------------------------*/
.navbar{
	background-color: #333333 !important;
}
.nav-item{
	padding: 0 10px;
}
.nav-link{
	font-family: 'Roboto', sans-serif !important;
	font-weight: 300;
	font-size: 0.8rem;
	letter-spacing: 0.2rem;
}
/*------------------------------------------------
Class+ID Selections
------------------------------------------------*/
.antsButton{
	margin-top: 35px;
	padding: 10px 20px;
	display: inline-block;
	border: 1px solid white;
	border-radius: 5px;
}
.antsButton:hover{
	border: 1px solid #FDA008;
}
.antsButton a{
	text-decoration: none;
	color: white;
}
.book-button{
	margin-right: 8px;
}
.photo-container{
	margin: 2.5em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 2.5em;
}
.photo-item{
	background-color: white;
	overflow:hidden;
}
.photo-item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.photo-item:hover{
	border: 2px solid #FDA008;
}

.social-media-icons{
	text-align: center;
}
.social-media-icons li i{
	color: white;
}
.social-media-icons li i:hover{
	color: #FDA008;
}
/*------------------------------------------------
Media Queries
------------------------------------------------*/
@media only screen and (max-width: 768px){

	.photo-container{
		margin: 2.5em;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(auto, 1fr);
		grid-gap: 2.5em;
	}

}

@media only screen and (max-width: 600px){

	.photo-container{
		margin: 2.5em;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto, 1fr);
		grid-gap: 2.5em;
	}

}


















